.home_search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3% 0% 1%;
    width: 100% !important;
}
.home_search label{
    width: 60% !important;
}
.home_search label input{
    /* padding: 2%; */
    width: 100%;
    border-left: 2px solid black;
    border-right: 0ch;
    height: 55px;
    outline: none;
}

.home_search button{
    padding: 1%;
    border-left: 0ch;
    height: 55px;
}

.home{
    background-image: url(../../img/cover1.jpg);
    background-color: #cccccc; /* Used if the image is unavailable */
     /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 8;
}