.home_search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3% 0% 1%;
    width: 100% !important;
}
.home_search label{
    width: 60% !important;
}
.home_search label input{
    /* padding: 2%; */
    width: 100%;
    border-left: 2px solid black;
    border-right: 0ch;
    height: 55px;
    outline: none;
}

.home_search input{
    padding: 1%;
    border-left: 0ch;
    height: 55px;
}